Repository OriginalDaemon/datacat: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "80...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

Fixing crash status
  CHANGES_SESSION_LIFECYCLE.md
  examples/test_crash_detection.py
  scripts/cleanup_session_states.py
  sessions-table-output.html
  sessions-table.html
Due: none

Fix timestamping
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
Due: go

Add encryption, api key and daemon->server communication compression
  SECURITY.md
  cmd/datacat-daemon/config.go
  cmd/datacat-daemon/main.go
  cmd/datacat-server/config.go
  cmd/datacat-server/main.go
  test_security.sh
Due: go

Add extended metrics
  client/client.go
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  python/datacat.py
Due: go, python

Leverage daemon structure to implement fire and forget incrementing counters
  cmd/datacat-daemon/main.go
  python/datacat.py
Due: go, python

Leverage daemon structure to implement fire and forget incrementing counters
  docs/INCREMENTAL_COUNTERS.md
  docs/METRIC_TYPES.md
  examples/incremental_counters_example.py
  examples/metric_types_example.py
Due: none

Improved histogram logging
  cmd/datacat-daemon/main.go
  docs/METRIC_TYPES.md
  python/datacat.py
Due: go, python

general session view improvements
  cmd/datacat-web/main.go
Due: go

Adding extended examples
  examples/game_logging_example.py
  python/datacat.py
Due: python

Fix tests
  cmd/datacat-daemon/main_test.go
  cmd/datacat-server/main_test.go
  cmd/datacat-web/main.go
  cmd/datacat-web/main_test.go
  cmd/datacat-web/templates/session.html
Due: go

Fix tests
  EXAMPLES_METRIC_TYPES.md
  TASK_COMPLETE.md
  TEST_FIXES_SUMMARY.md
  VERIFICATION_REPORT.md
  WEB_UI_IMPROVEMENTS.md
  cmd/datacat-web/templates/event_details.html
  cmd/datacat-web/templates/event_rows.html
  cmd/datacat-web/templates/session_improved.html
  docs/HISTOGRAM_BUCKETS.md
  examples/fps_histogram_example.py
Due: none

Update documentation
  ARCHITECTURE.md
  CHANGES_SESSION_LIFECYCLE.md
  EXAMPLES_METRIC_TYPES.md
  ICONS_GUIDE.md
  IMPLEMENTATION.md
  OFFLINE_MODE.md
  QUICKSTART.md
  README.md
  TASK_COMPLETE.md
  TEST_FIXES_SUMMARY.md
  VERIFICATION_REPORT.md
  WEB_UI_IMPROVEMENTS.md
  docs/ASYNC_LOGGING_IMPLEMENTATION.md
  docs/_examples/demo-gui.md
  docs/_examples/go-examples.md
  docs/_examples/index.md
  docs/_examples/python-examples.md
  examples/HUNG_SESSION_TRACKING.md
  examples/MACHINE_TRACKING.md
  examples/README.md
  examples/demo_gui/README.md
  examples/demo_gui/SUMMARY.md
  examples/go-client-example/README.md
Due: none

web ui improvements
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/event_rows.html
  cmd/datacat-web/templates/session_improved.html
Due: go

Fix swarm example and server
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
  examples/run_game_swarm.py
Due: go

Clean up documenation
  README.md
  docs/_examples/index.md
  docs/_examples/python-examples.md
  docs/game-logging.md
  docs/histogram-buckets.md
  docs/incremental-counters.md
  docs/metric-types.md
  docs/process-isolation.md
  examples/README.md
  python/README.md
Due: python

Update documents
  docs/api.md
Due: none

Clean up documentation
  docs/_api/errors.md
  docs/_api/events.md
  docs/_api/metrics.md
  docs/_api/rest-api.md
  docs/_api/state.md
  docs/_examples/go-examples.md
  docs/_guides/architecture.md
  docs/_guides/hung-tracking.md
  docs/_guides/machine-tracking.md
  docs/_guides/quickstart.md
  docs/game-logging.md
  docs/guides.md
  docs/histogram-buckets.md
  docs/incremental-counters.md
  docs/index.md
  docs/metric-types.md
  docs/process-isolation.md
Due: none

Add mosre metric examles to game example swarm
  examples/example_game.py
  examples/run_game_swarm.py
Due: none

Fixing session view issues in web ui
  FIXES_APPLIED.md
  cmd/datacat-web/templates/event_details.html
  cmd/datacat-web/templates/session.html
  cmd/datacat-web/templates/session_improved.html
  docs/metric-types.md
  python/datacat.py
Due: python

Remove redundant summary
  FIXES_APPLIED.md
Due: none

Add cursor rules
  .cursorrules
  docs/changes/README.md
Due: none

Making home page more of a live view
  cmd/datacat-web/templates/products.html
Due: none

Fix event rendering
  cmd/datacat-web/templates/event_rows.html
  cmd/datacat-web/templates/session_improved.html
Due: none

Many fixes to general web view and added more logging
  .gitignore
  client/client.go
  cmd/datacat-daemon/main.go
  cmd/datacat-server/config.go
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/event_details.html
  cmd/datacat-web/templates/event_rows.html
  cmd/datacat-web/templates/session_improved.html
  python/datacat.py
  scripts/run-web.ps1
Due: go, python

Fix logging
  cmd/datacat-server/logging.go
  cmd/datacat-web/config.go
  cmd/datacat-web/logging.go
Due: go
