Repository OriginalDaemon/datacat: changes, and which Codecov flags are due for each by the changed paths.
All: go, python

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "80...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  python:
    paths:
      - "python/"
    carryforward: true

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

Set green threshold for coverage to 85%
  codecov.yml
Due: none

Added gui example which allows for arbitrary logging of events
  README.md
  examples/README.md
  scripts/README.md
  scripts/common.ps1
Due: none

Fix gui example session startup
  examples/demo_gui/.gitignore
  examples/demo_gui/QUICKSTART.md
  examples/demo_gui/README.md
  examples/demo_gui/SUMMARY.md
  examples/demo_gui/demo_gui.py
  examples/demo_gui/requirements.txt
  examples/logging_handler_example.py
  scripts/run-demo-gui.ps1
Due: none

Lots of improvements to teh web site style
  cmd/datacat-web/static/json-viewer.js
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/session.html
Due: none

Highlight json diff for state
  cmd/datacat-web/static/json-viewer.js
  cmd/datacat-web/templates/session.html
Due: none

Fix idea urls and page dynamic loading
  cmd/datacat-web/static/json-viewer.js
  cmd/datacat-web/templates/session.html
Due: none

Fix timerange selection
  cmd/datacat-web/templates/session.html
Due: none

Fix timerange selection in graphs
  cmd/datacat-web/templates/metrics.html
  cmd/datacat-web/templates/session.html
Due: none

Fix timerange selection in graphs
  cmd/datacat-web/templates/metrics.html
Due: none

Branding docs
  ARCHITECTURE.md
  CONTRIBUTING.md
  IMPLEMENTATION.md
  OFFLINE_MODE.md
  README.md
  client/README.md
  cmd/datacat-server/README.md
  cmd/datacat-web/README.md
  examples/README.md
  examples/demo_gui/QUICKSTART.md
  examples/demo_gui/README.md
  examples/demo_gui/SUMMARY.md
  examples/go-client-example/README.md
  python/README.md
  scripts/README.md
Due: python

Update branding
  README.md
  cmd/datacat-web/templates/base.html
  examples/README.md
  examples/demo_gui/demo_gui.py
Due: none

Fix diff scrolling
  cmd/datacat-web/templates/session.html
Due: none

Fix timerange in multi sessions view
  cmd/datacat-web/main.go
Due: go

Add icons
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/sessions_filtered.html
Due: go

Removing redundant metrics views
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/metrics.html
  cmd/datacat-web/templates/session.html
Due: go

Fix gui example
  examples/demo_gui/demo_gui.py
Due: none

Fix home page links
  ICONS_GUIDE.md
  cmd/datacat-web/main.go
  cmd/datacat-web/static/ICONS.md
  cmd/datacat-web/static/favicon.ico
  cmd/datacat-web/static/logo-large.png
  cmd/datacat-web/static/logo-small.png
  cmd/datacat-web/static/logo.png
  cmd/datacat-web/templates/products.html
  examples/demo_gui/ICONS.md
Due: go

Changing color pallete
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/session.html
  cmd/datacat-web/templates/sessions_filtered.html
Due: go

Improve theme and add mode to metric graph summary
  cmd/datacat-web/static/json-viewer.js
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/products.html
  cmd/datacat-web/templates/session.html
  cmd/datacat-web/templates/sessions_filtered.html
Due: none

Maed daemon mandatory and made sure it can handle crashes/hangs
  ARCHITECTURE.md
  OFFLINE_MODE.md
  README.md
  cmd/datacat-daemon/main.go
  examples/demo_gui/demo_gui.py
  examples/offline_demo.py
  python/datacat.py
  tests/test_integration.py
  tests/test_program_workflow.py
  tests/test_unit.py
Due: go, python

Add last hearbeat summary
  client/client.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/session.html
Due: go

improved status management
  ARCHITECTURE.md
  README.md
  client/client.go
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/session.html
Due: go

Add sophisticated hung/crash monitoring
  client/client.go
  cmd/datacat-server/main.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/base.html
  cmd/datacat-web/templates/session.html
  cmd/datacat-web/templates/sessions_filtered.html
Due: go

Improve status messaging and event reporting
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
  cmd/datacat-web/templates/sessions_filtered.html
Due: go

Adding state updates to remove state info and new tests
  client/client.go
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
  cmd/datacat-web/main.go
  python/datacat.py
  tests/test_unit.py
Due: go, python

Add docs
  examples/HUNG_SESSION_TRACKING.md
  examples/MACHINE_TRACKING.md
Due: none

Update README.md
  README.md
Due: none

Fix ascii art
  README.md
Due: none

General cleanup
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
Due: go

Improving tests
  cmd/datacat-daemon/main_test.go
Due: go

Cleaning up
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  cmd/datacat-server/main_test.go
Due: go

Restricting builds launched from scripts
  scripts/README.md
  scripts/build.ps1
  scripts/run-both.ps1
  scripts/run-server.ps1
  scripts/run-web.ps1
Due: none

Adding async session for python
  README.md
  client/client.go
  cmd/datacat-daemon/main.go
  examples/README.md
  python/README.md
  python/datacat.py
Due: go, python

Adding async session for python
  docs/ASYNC_LOGGING_IMPLEMENTATION.md
  docs/GAME_LOGGING.md
  docs/PROCESS_ISOLATION.md
  examples/game_logging_example.py
  examples/test_async_py27.py
Due: none

Add health endpoint and game + swarm exmaple
  README.md
  cmd/datacat-server/main.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/base.html
  daemon_config_59005.json
  docs/api.md
  examples/README.md
  examples/example_game.py
  examples/run_game_swarm.py
  scripts/run-both.ps1
  scripts/run-demo-gui.ps1
  scripts/run-example-game.ps1
  scripts/run-example.ps1
  scripts/run-game-swarm.ps1
  scripts/run-server.ps1
  scripts/run-web.ps1
Due: go

Fix errors
  scripts/run-both.ps1
  scripts/run-example.ps1
  scripts/run-server.ps1
  scripts/run-web.ps1
Due: none

Fix swarm and add cleanup
  .gitignore
  daemon_config_59005.json
  examples/run_game_swarm.py
  python/datacat.py
  scripts/clean.ps1
  scripts/run-game-swarm.ps1
Due: python

Fixing crash status
  cmd/datacat-daemon/main.go
  cmd/datacat-server/main.go
  cmd/datacat-web/main.go
  cmd/datacat-web/templates/sessions.html
  cmd/datacat-web/templates/sessions_enhanced.html
  docs/_api/sessions.md
Due: go
